<div class="cardAmount">
  <i class="fas fa-hourglass-half hourglass"></i>
  <h3>Last cards : <span class="number">{{cardsAmount}}</span></h3>
</div>
<p class="cards">{{cards}}</p>
<div class="next">
  <button class="nextBtn">
    <i class="fas fa-heartbeat icon"></i>
    <p>抽牌</p>
  </button>
</div>
