<div class="content">
  <div class="text">
    <h1 class="first-text">A Couple</h1>
    <h1 class="second-text">
      Minutes
      <div class="circle">
        CARD
        GAME
      </div>f
    </h1>
  </div>
  <hr>
</div>
<div class="menu">
  <div class="instruction">
    <a href="/instruction">
      <i class="fas fa-info icon"></i>
      <p>遊戲說明</p>
    </a>
  </div>
  <div class="start">
    <a href="/game/start">
      <i class="fas fa-play icon"></i>
      <p>開始遊戲</p>
    </a>
  </div>
  <div class="concept">
    <a href="/idea">
      <i class="far fa-lightbulb icon"></i>
      <p>設計理念</p>
    </a>
  </div>
</div>