.cardAmount {
  display: flex;
  justify-content: flex-end;
  color: #b4503c;
}
.smallIcon {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #b4503c;
}
.icon {
  font-size: 5rem;
  color: #eb6864;
  
}
/* card */
.cards {
  position: relative;
}
.card {
  width: 30%;
  height: 480px;
  border-radius: 15px;
  margin-left: 35%;
  position: absolute;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #aa341d;
  border-radius: 15px 15px 0 0;
  height: 10%;
}
/* next div */
.info {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.next {
  margin-top: 150px;
}
.BTN {
  border:0; background-color:transparent
}
.nextBtn .icon {
transition: transform 0.3s;
}
.nextBtn .icon:hover {
  transform: scale(1.2);
}
.nextBtn > p {
  color: black;
  margin-top: 0.5rem;
}
/* fn card */
.fn-card-with-pseudo {
  position: relative;
}
.fn-card-with-pseudo::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 180px;
  height: 240px;
  border-radius: 15px;
  background: url('https://i.imgur.com/JckQzeT.jpg');
  background-size: cover;
  z-index: 1;
}
.fn-card {
  width: 180px;
  height: 240px;
  background-color:white;
  border-radius: 15px;
}
.crownIcon {
  font-size: 1.5rem;
  color: rgb(243, 227, 9);
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}
.invisible {
  visibility: hidden;
}
/* dom control */
.back {
  background: url('https://i.imgur.com/JckQzeT.jpg');
  background-size: cover;
}
.disappear {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}